@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@tailwind utilities;

body {
  direction: rtl;
  scroll-behavior: smooth;
}

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin"tailwindcss-animate";

@theme {
  --font-bold: "bold";
  --font-regular: "regular";
  --color-dark: #292929;
  --color-light: #ede5de;
  --color-primary: #112754;
  --color-red: #cc0000;
  --color-border: "hsl(var(--border))",
    --color-input: "hsl(var(--input))",
    --color-ring: "hsl(var(--ring))",
    --color-background: "hsl(var(--background))",
    --color-foreground: "hsl(var(--foreground))",
}

@font-face {
  font-family: "bold";
  src: url("../../public/Fonts/RB-BOLD.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "regular";
  src: url("../../public/Fonts/SKY.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@layer utilities {

  .prose ul {
    @apply list-disc;
    /* or list-decimal */
  }

  .prose ul li::marker {
    @apply text-primary dark:text-white;
    /* Customize bullet color */
  }
}

@layer base {
  body {
    @apply bg-light dark:bg-neutral-950 m-0 p-0 box-border font-regular text-base text-dark
  }
  
  h1 {
    @apply text-5xl my-4 font-bold text-dark dark:text-light
  }

  h2 {
    @apply text-3xl my-4 font-bold text-dark dark:text-light
  }

  h3 {
    @apply text-2xl my-4 font-bold text-dark dark:text-light
  }

  h4 {
    @apply text-xl my-4 font-bold text-dark dark:text-light
  }

  h5 {
    @apply text-lg my-4 font-bold text-dark dark:text-light
  }

  p {
    @apply text-dark dark:text-light
  }

  q {
    @apply mb-7 text-red italic text-2xl
  }

  .category {
    @apply px-4 py-2 bg-primary text-white rounded-lg transition-colors duration-300 hover:bg-blue-500 dark:bg-light dark:text-dark font-bold dark:hover:text-light
  }

  blockquote {
    @apply mb-7 text-red italic text-2xl font-black
  }

  .Whitebtn {
    @apply py-3 border-b-white h-fit hover:border-b-primary border-b-4 text-white w-fit font-bold transition-all ease-in-out duration-300 whitespace-nowrap flex justify-between items-center gap-10
  }

  .Blackbtn {
    @apply py-3 border-b-black h-fit hover:border-primary border-b-4 text-black w-fit font-bold transition-all ease-in-out duration-300 whitespace-nowrap flex justify-between items-center gap-10
  }

  section {
    @apply mx-auto lg:max-w-7xl md:max-w-4xl max-w-md py-8 grid gap-8
  }
}